<!DOCTYPE html>
<html>
<head>
    <title>iGotRobbed App</title>
    <link href="css/igotrobbed.css" media="a;;" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/underscore-1.1.6.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.1.15.min.js"></script>
    <script src="js/igotrobbed.js"></script>
</head>
<body>

<script type="text/template"  id="item-template">
  <li class="<%= done ? 'completed' : '' %>">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %>>
      <label class="todo-content"><%= content %></label>
      <button class="todo-destroy"></button>
    </div>
    <input class="edit" value="<%= content %>">
  </li>
</script>

</body>
</html>